<section style="margin-bottom: 30px" class="gallery-tiles wow slideInDown">
    <div class="row" style="margin-top:30px;">
        <% page.gallery.photos.forEach(function(photo, index){ %>
        <div class="small-12 medium-12 large-12 columns">
            <a class="gallery-thumb-link" href="<%- s3galleryPhotoUrl(photo) %>">
                <%- responsivePhoto(photo, { class: "gallery-thumb" }) %>
            </a>
        </div>
        <% }) %>
    </div>
</section>
