<!-- Stopka -->
<footer>
  <!-- Dolna czesc stopki -->
  <div class="sk-copyright">
    <div class="row">
      <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
    </div>
  </div>

</footer>
 
 <script src="/js/app.js" defer></script>